.bg-image {
    background: url("ak-ocean-sm.jpg") no-repeat center center fixed;
    background-color: aqua;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

p {
    font: Helvetica;
    font-size: 18px;
    /*background-color:white;*/
}

#icon {
    height: 15vh;
    width: 15vh;
}
